.auth-form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;

   
    
}

.login-btn{
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
}