.product-details{
    margin-top: 50px;

    h2{
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
}

.product-rating{
    .icons{
        color: coral;
    }

    p {
        padding-top: 15px;


        span{
            color: coral;
            font-weight: 500;
        }
    }
}

.product-price{
    font-size: 1.3rem;
    font-weight: 500;
}

.tab-wrapper{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.active-tab{
    font-weight: 700;
}

.tab-content{
    p{
        line-height: 30px;
    }
}

.review-wrapper ul li{
    margin-top: 20px;

    span{
    color: coral;
    font-weight: 600;
    }
    
    p{
        margin-top: 5px;
    }
}

.review-form{
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h4{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 30px;
    }
}

.form-group{
    margin-bottom: 30px;

    input, textarea{
        width: 100%;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 8px 20px;

        :focus{
           outline: none; 
        }
    }

    input[type=radio]{
        display: none;
    }

    .star{
        cursor: pointer;
    }
}

